<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".videoview3"></activity>
        <activity android:name=".videoview2" />
        <activity android:name=".videoview1" />
        <activity android:name=".videoview" />
        <activity android:name=".video_input" />
        <activity android:name=".detail_news_9" />
        <activity android:name=".detail_news_8" />
        <activity android:name=".detail_news_7" />
        <activity android:name=".detail_news_6" />
        <activity android:name=".detail_news_5" />
        <activity android:name=".detail_news_4" />
        <activity android:name=".detail_news_3" />
        <activity android:name=".detail_news_2" />
        <activity android:name=".detail_news_1" />
        <activity android:name=".detail_news" />
        <activity android:name=".listnews_activity" />
        <activity android:name=".homeactivity" />
        <activity android:name=".splashscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".register_activity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ViewListContents" />
    </application>

</manifest>